body {
    background-color: lightgray;
    padding-top: 100px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btnreglogin {
    margin:20px;
    width: 400px;
    height: 50px;
    border: 2px solid white;
    border-radius: 2px;
}

#registration {
    margin:20px;
    padding:20px;
    width:400px;
    border:2px solid gray;
}

#login {
    margin: 20px;
    padding: 20px;
    width: 400px;
    border: 2px solid gray;
}

