@section Scripts {
    @Scripts.Render("~/Scripts/Skript.js") 
}

<head>
    <link rel="stylesheet" href="~/Content/Site.css">
</head>
<div class="row">
    <div>
        <button id="btnreg" class="btnreglogin" type="button"><h5 id="info">Registration</h5></button>
        <form method="post" action="post/" id="registration">
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="text" id="regEmail" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" id="regLoz" />
            </div>
            <div class="form-group">
                <label>Submit Password</label>
                <input class="form-control" type="password" id="regLoz2" />
            </div>
            <button type="submit" class="btn btn-default">Registration</button>
        </form>
    </div>

    <div>
        <button id="btnlogin" class="btnreglogin" type="button">Log in</button>
        <form method="post" action="post/" id="login">
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="text" id="priEmail" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" id="priLoz" />
            </div>
            <div class="btn-group" role="group">
                <button type="submit" class="btn btn-default">Log in</button>
            </div>
        </form>
    </div>

    <br />
    <br />
    <br />
    <br />

    <div>
        <button id="btnkia" name="1" type="button" class="btn btn-secondary btn-lg btn-block">KIA MOTORS</button>
        <button id="btnvolkswagen" name="3" type="button" class="btn btn-secondary btn-lg btn-block">Volkswagen</button>
        <button id="btntesla" name="2" type="button" class="btn btn-secondary btn-lg btn-block">Tesla</button>
        <div id="datacars"></div>

        <br />
        <div id="formCarDiv" style="display:none">
            <form method="post" action="post/" id="carForm">
                <p><label>Name: <input id="carName"></label></p>
                <br />
                <p><label>Color: <input id="carColor"></label></p>
                <br />
                <p><label>Year: <input id="carYear"></label></p>
                <br />
                <p><label>Manufacturer:<select name="" id="manufacturer"></select></label></p>
                <br />
                <p><label>Click if this car is bought?<input type="checkbox" value="true" id="ischeck"></label></p>
                <br />
                <div class="btn-group" role="group">
                    <button class="btn btn-default" type="submit">Submit</button>
                    <button id="btn2" class="btn btn-default" type="button">Reset</button>
                </div>
            </form>
        </div>
        <br />
    </div>
    <br />
    <div style="display:none" class="col-sm-4" id="logout">
        <h3>Log out</h3>
        <button class="btn btn-default" id="btnlogout">Log out</button>
    </div>
</div>
